.App {
  text-align: center;
  min-height: 100%;
}

@media (min-width: 857px) {
  .flexbox-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
.menu {
  min-width: 200px;
  width: 35%;
  position: sticky;
  position: -webkit-sticky;
  top: 55px;
  background-color: #3e3e42;
  color: white;
  padding: 24px;
  height: 100%;
}
.content {
  width: 65%;
}
}
@media (max-width: 857px) {
  .flexbox-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .menu {
    width: 100%;
    position: static;
    background-color: #3e3e42;
    color: white;
    padding: 24px;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }

}

html, body, #app, #app>div{
  height: 100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
